nav {
            background: #cf9dde;
            padding: 1rem;
            text-align: center;
        }

nav a {
            color: white;
            margin: 0 15px;
        }

        nav a.active {
            color: #0366d6;
        }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    padding: 20px;
    background-color: #829ebe;
}

.header {
    background-color: #27f;
    padding: 20px;
    color: black;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-right: 40px;
}

.hobbies-card {
    line-height: 1.6;
}

.hobby-item {
    margin-bottom: 20px;
}

.hobbies-card h3 {
    font-size: 1.1rem;
    color: #2980b9;
    margin-bottom: 8px;
    border-left: 4px solid #3498db;
    padding-left: 8px;
}

.hobby-item p {
    margin-top: 0;
    color: #555
}

.footer {
    margin-left: 15px;
    margin-top: 15px;
}

@media (min-width: 768px) {
    body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px 80px;
        align-items: flex-start;
    }
}